.color
    {
     background-color:#ADCBEF;
     font-weight:bold;
     Font-size:13px;
     color:#000;
    }
    .color1
    {
        color:Red;
    }
    .label
	{
	font-size:13px;
	font-weight:normal;
	font-family:arial;
	}
	.style
	{
	    Font-weight:Bold;
	    Font-size:10px;
	    Font-Family:verdana;
	    background-color:#ADCBEF;
        color:#000;
	}
	.style1
	{
	    Font-weight:Bold;
	    Font-size:10px;
	    Font-Family:verdana;
	}
	.cursor
	{
	    cursor:pointer;
	}
	img
	{
	    cursor:pointer;
	}	    